%aside.summary
  %div.user
    %div.user__name
      ryosukemaehara
    %div.user__action
      %i.fa.fa-pencil-square-o
      %i.fa.fa-cog
  %div.groups
    %div.groups__title
      神
    %div.groups__hilight
      sdhkfjsdlf

  %div.groups
    %div.groups__title
      aaaaaaaaa
    %div.groups__hilight
      まだメッセージはありません
  %div.groups
    %div.groups__title
      sampleグループ
    %div.groups__hilight
      まだメッセージはありません

%main.thread
  %div.group
    %h2.group__title
      sampleグループ
    %div.group__members
      %span.group__members-subject
        Member:
      %span.group__members-name
        ryosukemaehira
    %div.group__edit-button
      %div.group__edit-button--text
        Edit
  %div.post-area
    %div.post
      %div.post__header
        %span.post__sender
          ryosukemaehira
        %span.post__timestamp
          2016/10/02 06:27:14
      %div.post__body
        なるほど

    %div.post
      %div.post__header
        %span.post__sender
          ryosukemaehira
        %span.post__timestamp
          2016/10/02 06:27:25
      %div.post__body
        水色きれい
    %div.post
      %div.post__header
        %span.post__sender
          ryosukemaehira
        %span.post__timestamp
          2016/10/02 06:27:30
      %div.post__body
        お腹すいた
  %div.compose
    %div.compose__textarea
      Chatspace
    %div.compose__send-button
      %div.compose__send-button--text
        Send
    %div.compose__image-select
      %div.compose__send-button--icon
        %i.fa.fa-file-image-o
