// Place all the styles related to the message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.summary {
  float: left;
  padding: 35px 20px;
  width: calc(300px - 40px);
  height: 100%;
  background-color: #312541;
  color: #fff;
}

.user {
  #{&}__name {
    font-size: 16px;
    font-weight: bold;
  }
  #{&}__action {
    li {
    }
  }
}

.groups {
  padding-top: 20px;
  padding-bottom: 40px;
  #{&}__title {
    font-size: 15px;
  }
  #{&}__hilight {
    margin-top: 5px;
    font-size: 11px;
  }
}

.thread {
  &:after {
    clearfix: both;
  }
  float: right;
  padding: 35px 40px;
  width: calc(100vw - 300px - 80px);
  height: 100%;
}

.header {
  margin-bottom: 46px;
  #{&}__title {
    font-size: 20px;
    color: #333;
  }
  #{&}__members {
  font-size: 12px;
  color: #999;
    &:after {
      clearfix: both;
    }
  }
  #{&}__members-subject {
    float: left;
    display: inline-block;
  }
  #{&}__members-name {
    float: left;
    margin-left: 1em;
    display: inline-block;
  }
}

.post {
  margin-top: 40px;
   color: #435A54;
  #{&}__header {
  }
  #{&}__sender {
    display: inline-block;
    font-size: 16px;
  }
  #{&}__timestamp {
    margin-left: 10px;
    display: inline-block;
    font-size: 12px;
    color: #333;
  }
  #{&}__body {
    font-size: 14px;
  }
}

.compose {
  position: fixed;
  margin: 20px 0 20px 0;
  #{&}__textarea {
  font-size: 16px;
  color: #434A54;
  }
  #{&}__image-select {
    
  }
  #{&}__send-button {
    
  }
}
